.cards {
  font-family: inter;
  margin-top: 50px;
  border-radius: 10px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 25px 20px 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../Images/like\ button.svg);
  cursor: pointer;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 18px;
}
.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__like-button:disabled {
  cursor: not-allowed;
  opacity: 1;
}
