.footer__copyright {
  font-family: Inter;
<<<<<<< HEAD
  height: 14px;
=======
>>>>>>> d9a835374f5bb3284cb5570fd2f39df85b496609
  font-size: 18px;
  font-weight: 400;
  line-height: 0.8;
  text-align: left;
  color: rgba(84, 84, 84, 1);
}
