.header {
  min-height: 74px;

  padding: 0;
  border-bottom: solid 1px rgb(84 84 84 / 0.7);
}

.header__image {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 480px) {
  .header {
    margin: 28px 27px 0;
  }

  .header__image {
    min-width: 126px;
    width: 100%;
  }
}
