.header {
  min-height: 74px;
  margin: 45px auto 0;
  padding: 0;
  border-bottom: solid 1px rgb(84 84 84 / 0.7);
}

.header__image {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    width: 100%;
    margin-top: 28px 0 0;
    /*margin: 28px 27px 0;*/
  }

  .header__image {
    width: 126px;
    height: 24px;
    margin-left: 27px;
    /*margin: 0;*/
  }
}
