.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  z-index: 10;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__content {
  max-width: 430px;
  width: 100%;
  min-height: 323px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 34px 36px;
  transform: scale(0.9);
  transition: transform 0.3s linear;
}

.popup__input:invalid {
  border-bottom: 1px solid red;
}

.popup__input:valid {
  border-bottom: 1px solid green;
}

/* Scale effect when opened */
.popup_opened .popup__content {
  transform: scale(1);
}

.popup__button_disabled {
  background-color: #cccccc; /* Inactive color */
  cursor: not-allowed;
}

.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__error_visible {
  color: red;
  font-size: 12px;
  display: block;
}

.popup__close {
  height: 40px;
  width: 40px;
  position: absolute;
  top: -39px;
  right: -37px;
  background-image: url(../Images/Close-Icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
}

.popup__heading {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
  color: rgba(0, 0, 0, 1);
}

.popup__form {
  margin-top: 27px;
}

.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-bottom: 10px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__button {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 1);
  color: #fff;
  border-radius: 2px;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_type_picture {
  background-color: rgba(0, 0, 0, 1);
}

.popup_type_picture.modal_opened {
  display: flex;
}

.popup__content-picture {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
}

.popup__close_type_picture {
  height: 40px;
  width: 40px;
  position: absolute;
  top: -39px;
  right: -37px;
  background-image: url(../Images/Close-Icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
  width: fit-content;
  border-radius: 8px;
}

.popup__caption {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  width: 291px;
  height: 12px;
  color: #fff;
  left: 0;
  top: calc(100% + 10px);
  margin: 0;
}

@media (max-width: 768px) {
  .popup__image {
    width: 90%;
  }

  .popup__close_type_picture {
    right: 7px;
    top: -7px;
    width: 26px;
    height: 26px;
  }

  .popup_content-picture {
    width: 100%;
    max-width: calc(100% - 19px * 2);
    padding: 25px 22px;
  }

  .popup__caption {
    text-align: center;
    font-size: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .popup__close {
    right: 7px;
    top: -42px;
    width: 26px;
    height: 26px;
  }

  .popup__content {
    width: 100%;
    max-width: calc(100% - 19px * 2);
    padding: 25px 22px;
  }

  .popup__form {
    margin-top: 53px;
  }

  .popup__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .popup__button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 46px;
    height: 46px;
  }
}
