.profile {
  display: flex;
  align-items: center;
  margin: 40px auto 0;
}

.profile__image {
  width: 120px;
  height: 120px;
}

.profile__info {
  display: grid;
  align-items: center;
  margin: 0;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px), auto;
  gap: 9px 17px;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 0.8;
  border-color: rgba(255, 255, 255, 1);
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  grid-area: description;
  margin: 7px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__edit-button {
  background-image: url(../Images/Edit\ Button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px #fff;
  height: 24px;
  width: 24px;
  grid-area: button;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__edit-button:disabled {
  cursor: not-allowed;
  opacity: 1;
}

.profile__add-button {
  background-image: url(../Images/Add\ button.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 2px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__add-button:disabled {
  cursor: not-allowed;
  opacity: 1;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
    width: 100%;
    min-height: 286px;
    background-color: black;
    flex-direction: column;
    margin: 42px 19px 0;
  }

  .profile__image {
    width: 120px;
    height: 120px;
  }

  .profile__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 19px 0;
  }

  .profile__title {
    max-width: 220px;
    font-size: 22px;
    text-align: center;
  }

  .profile__description {
    max-width: 282px;
    width: 100%;
    text-align: center;
    font-size: 14px;
  }

  .profile__add-button {
    margin: 36px auto 0;
    max-width: 282px;

    height: 50px;
    width: 100%;
  }

  .profile__edit-button {
    height: 8px;
    width: 8px;
  }
}
